.mb20 {
  margin-bottom:20px;
}

.bg-light-grey {
  background:#F4F5F6;
}

.video-tint {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.5);
  z-index: 1;
}

.iframe-video {
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index:1;
}

.home-intro {
  background:rgba(0,0,0,0.8);
}

.home-intro-inner {
    z-index: 2;
}


div#owl-cover-usp {
  z-index:2;
  background:#F4F5F6;
  padding:30px 0;
  bottom:0;
  left:0;
  h6, i {
    color:#36474F;
  }
}

.full-width-break {
  padding: 30px 0 20px 0;
}

.product-card h3 {
  margin-top:0;
}

.bg-video {
  background:#F4F5F6;
  padding:60px 0;
}

#owl-why-choose .icon-card, .row-why-choose .icon-card {
  background:#fff;
}

.row-home-packages .product-card {
    min-height: 482px;
}
