.dobday {
  @media screen and (max-width: 39.9375em) {
    padding-left:0;
    padding-right:0;
  }
  @media screen and (min-width: 40em) {
    padding-left:0;
  }
}

.dobmonth {
  @media screen and (max-width: 39.9375em) {
    padding-left:0;
    padding-right:0;
  }
}

.dobyear {
  @media screen and (max-width: 39.9375em) {
    padding-left:0;
    padding-right:0;
  }
  @media screen and (min-width: 40em) {
    padding-right:0;
  }
}

.login-container {
  background:url(../img/login/bg-login.jpg) no-repeat center top;
  background-size:cover;
  padding:80px 0;
}

.login-intro {
  text-align:center;
  h1,h2,h3,h4, p {
    color:#fff;
  }
}

.login-form {
  margin-top:40px;

  .login-inner {
    margin:15px;
    background:#fff;
    padding:20px;
    @media screen and (min-width: 40em) {
      padding:40px 80px;
    }
  }

  label, p {
    color:#5c5c5c;
  }

  .form-login {
    max-width:580px;
    margin:0 auto;
  }

  .button-login {
    @media screen and (min-width: 40em) {
      margin:20px auto 0 auto;
      padding-left:3rem;
      padding-right:3rem;
    }
  }
}
