.header-dashboard {
  padding: 10px;
  width: 100%;
}

.header-dashboard .button {
  margin-bottom: 0px;
}

.header-dashboard .logo {
  padding-top: 0px;
}

.header-dashboard .main-menu {
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
}

.affiliate-dashboard .bold {
  font-weight: 700;
}

.affiliate-dashboard .icon-link_icon {
  font-size: 16px; margin-left: 25px;
}

.affiliate-dashboard .logo-dashboard {
  margin-top: 10px;
  max-width: 215px;
}

.logo-dashboard {
  max-width: 215px;
}

.affiliate-dashboard .button.hollow {
  border: 1px solid #ff5722;
  color: #ff5722;
  transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
}

.affiliate-dashboard .button.hollow:hover {
  border: 1px solid #37474f;
  color: #37474f;
}

.affiliate-dashboard h6 {
  opacity: 0.5;
}

.affiliate-dashboard .box-shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
}

.affiliate-dashboard .dashboard-card {
  margin-top: 20px;
}

.affiliate-dashboard .dashboard-card-padding.dashboard-card-half {
  min-height: 415px;
}

.affiliate-dashboard .dashboard-card-padding {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.affiliate-dashboard .dashboard-card-padding--more {
  padding: 30px;
}

#affiliateChart {
  margin-top: 25px;
}

/* Datatable styles */

#affiliateTable thead th {
  font-size: 10px; /* Adjust the font size as needed */
}

#affiliateTable tbody td {
  font-size: 12px; /* Adjust the font size as needed */
}

div#affiliateTable_info {
  font-size: 12px;
  opacity: 0.6;
}

.affiliate-dashboard div.dt-container .dt-paging .dt-paging-button {
  transition: all .7s;
  -moz-transition: all .7s;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
}

.affiliate-dashboard div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
  color: #ff5722 !important;
  border: 1px solid #ff5722 !important;
  background-color: transparent !important;
  background: none !important;
}

.affiliate-dashboard div.dt-container .dt-paging .dt-paging-button:hover {
  color: #ff5722 !important;
  border: 1px solid #ff5722 !important;
  background-color: transparent !important;
  background: none !important;
}

.affiliate-dashboard div.dt-container .dt-paging .dt-paging-button:active {
  box-shadow: none !important;
}

@media screen and (min-width: 64em) {
  .box-shadow:hover {
    box-shadow: 0 10px 39px 0 rgba(0,0,0,.2);
}

  .affiliate-dashboard .previous {
    margin-top: 10px;;
  }
}

/* Affiliate login styles */

.login-container-affiliate {
  background: #000 url(../img/affiliate-login-bg.jpg) no-repeat right -115px;
  background-size: cover;
  padding: 80px 0;
  min-height: 95vh;
}

.login-container-affiliate h1 {
  color: #37474f;
}

/*2025 update styles start here*/

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


.header-dashboard-loggedin .dropdown.menu>li.opens-right>.is-dropdown-submenu {
    top: 115%;
}

.header-dashboard-loggedin .hamburger {
  font-size:25px;
}

.header-dashboard-loggedin a {
  opacity:0.8 !important;
}

.header-dashboard-loggedin a:hover {
  opacity:1 !important;
  color:#fff !important;
}

.header-dashboard-loggedin .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
  display:none;
}

.logo-dashboard-logged-in {
  max-width: 210px;
  width:100%;
  margin: 10px 0 0px 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .logo-dashboard-logged-in {
    margin: 7% 0 0px 0;
  }
}


.header-dashboard-loggedin .top-level {
  padding:0 !important;
}

.header-dashboard-loggedin .chevron-down {
  max-width:22px;
}

@media screen and (max-width: 39.9375em) {
  .header-dashboard-loggedin .chevron-down {
    max-width:14px;
  }
}


.header-dashboard-loggedin .hamburger {
  padding-right:0 !important;
}

.reveal-ah-mob-menu {
  top:120px !important;
}


.reveal-ah-mob-menu a {
  padding: 1.2rem 0.5rem;
  font-size: 24px;
}

@media screen and (min-width: 40em) {
  .header-dashboard-loggedin .chevron-down {
    padding-right:10px !important;
  }
}

.dropdown.menu.profile-menu {
  padding-top:8px;
}

.dropdown.menu.profile-menu .user-name {
  padding-right:10px;
}

@media screen and (max-width: 39.9375em) {
  .dropdown.menu.profile-menu {
    padding-top:12px;
  }
}

.dropdown.menu.profile-menu a:hover {
  color:#fff;
  opacity:0.8;
}

.dropdown.menu.profile-menu a {
  padding: 0.8rem 1rem;
}

.dropdown.menu.profile-menu .menu {
  background:#37474f;
  color:#fff;
  border:0;
  outline:0 !important;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
  border-color:#fff transparent transparent;
}

.ah-body h1, .ah-body h2, .ah-body h3, .ah-body h4, .ah-body h5 {
  line-height:1.2;
}

@media (min-width: 40em) {
  .ah-body p {
      font-size:18px;
  }
}

.avatar {
  max-width:58px;
}

@media screen and (max-width: 39.9375em) {
  .avatar {
    max-width:42px;
  }
}


.white-80 {
  color:rgba(255,255,255,0.8);
}

.color-dark {
  color:#0A0A0A !important;
}


.color-navy {
  color:#37474F;
}

.opacity-80 {
  opacity:0.8;
}

.bg-light-grey {
  background:#F4F5F6;
}

.fw-400 {
  font-weight:400;
}

.db {
  display:block;
}

.mt {
  margin-top:40px !important;
}

.mt-20 {
  margin-top:20px;
}

.mt-40 {
  margin-top:40px;
}

.mt-60 {
  margin-top:60px;
}


.mt-80 {
  margin-top:80px;
}

.mb-0 {
  margin-bottom:0 !important;
}

.mb-20 {
  margin-bottom:20px !important;
}

.mb-40 {
  margin-bottom:40px !important;
}

.pr0 {
  padding-right:0 !important;
}

.fl {
  float:left !important;
}

.hover-pointer:hover {
  cursor:pointer;
}

.text-left {
  text-align: left !important;
}

.max-width-980 {
  max-width:980px !important;
}

.max-width-780 {
  max-width:780px;
}

.max-width-480 {
  max-width:480px;
}

.align-vertical-center {
  display: flex;
  align-items: center
}

.shadow-b20 {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}

.width-100-pc {
  width:100%;
}

.row-pad {
  padding-top:40px;
  padding-bottom:40px;
}

.row-pad-60 {
  padding-top:60px;
  padding-bottom:60px;
}

.no-pad {
  padding:0;
}

.no-list {
  list-style:none;
  margin-left:0;
}

.ticklist {
  list-style:none;
  margin-left:0;
}

.ticklist li {
  padding-left:30px;
  background:url(../img/2025/tick-list-icon.svg) no-repeat 0 6px;
}

.callout-notification {
  padding:10px;
  background:#ff5722;
  color:#fff;
  margin-bottom:0;
}

.callout-notification p {
  font-size:16px;
  margin-bottom:0;
}

.callout-notification .close-button {
    font-size: 28px;
    color:#fff;
}

.login-container-affiliate.splash-3 {
  background: #000 url(../img/2025/splash-03.jpg) no-repeat right center !important;
  background-size:cover !important;
}

@media screen and (max-width: 39.9375em) {
  .login-container-affiliate.splash-3 {
    background: #000 url(../img/2025/splash-03-mob.jpg) no-repeat center center !important;
    background-size:cover !important;

  }
}

@media screen and (min-width: 40em) {
  .row-ah-login {
    margin-top:240px;
  }
}


.login-container-affiliate.splash-3 h1 {
  font-weight:300;
  color:#fff;
  margin-left: 10px;
}

.login-container-affiliate.splash-3 p,  .login-container-affiliate.splash-3 li {
  font-size:18px;
  color:#000;
}

.splash-3 .form-login-affiliate {
  max-width:100%;
}

.splash-3 .login-form .login-inner {
  padding: 40px 40px;
}

.splash-3 .login-form  {
  margin-top:0 !important;
}

@media screen and (min-width: 64em) {
  .splash-3 .login-form .login-inner {
    min-height:460px;
  }
}


.splash-3 .button-login-affiliate {
  max-width:220px;
  margin-left:15px;
}

.ah-testimonials {
  padding-top:60px;
}

@media screen and (max-width: 39.9375em) {
  .ah-footer .columns {
   text-align:center;
  }
}


.ah-testimonials p {
  font-size:16px;
}

.ah-testimonials .name {
  font-size:20px;
  font-weight:400;
  margin-bottom:0;
}

.ah-testimonials .rating {
  max-width:120px;
  margin-left:-10px;
}

.ah-testimonials .item {
  padding:50px 40px 40px 40px;
  border:1px solid #eaeaea;
}

.short-cover {
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  text-align:center;
  min-height:460px;
  padding:120px 0 120px 0;
  color:#fff;
}

.short-cover .inner {
  width:100%;
  max-width:1200px;
  margin:0 auto;
}

.shorter {
  min-height:260px;
  padding:40px 20px 40px 20px;
}

@media screen and (min-width: 64em) {
  .short-cover p {
    font-size:24px;
  }
}



.long-cover {
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  text-align:left;
  min-height:580px;
  padding:120px 20px 120px 20px;
  color:#fff;
}

.long-cover a {
    color:#fff;
    border-bottom:1px solid #fff;
}


@media screen and (min-width: 64em) {
  .long-cover p {
    font-size:24px;
  }
}

.long-cover .inner {
  width:100%;
  max-width:1200px;
  padding:0 20px;
  margin:0 auto;
}

@media screen and (min-width: 64em) {
  .long-cover .inner {
    padding:0 23% 0 20px;
  }
}

.partner-process {
  padding:60px 20px;
}

.partner-process img {
  max-height:70px;
  margin-bottom:40px;
}

.partner-form .form-wrapper {
  padding:40px 60px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width: 39.9375em) {
  .partner-form .form-wrapper {
    padding:20px;
  }
}

.checkbox-large {
  position:relative;
    appearance: none; /* Remove default styles */
  min-height:39px;
  min-width:39px;
  border: 1px solid #cacaca !important;
  background:#fff !important;
  margin:0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

[type="checkbox"]:checked {
  border-color: #ff5722;
}

[type="checkbox"]:checked::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #ff5722;
  font-weight: bold;
}

.button-apply {
  background:#ff5722;
  color:#fff;
}

@media screen and (min-width: 40em) {
  .button-apply {
    padding-left:60px;
    padding-right:60px;
  }
  .button-pad {
    padding-left:60px;
    padding-right:60px;
  }
}

.button-apply:hover {
  background:#ee3900;
}

.intro {
  padding-top:60px;
  padding-bottom:60px;
}

.intro h2 {
  max-width:340px;
}

.why-choose-video {
  padding-top:60px;
  padding-bottom:60px;
}

.why-choose-video .inner {
  max-width:1200px;
  margin:0 auto;
}

.why-choose-video video {
  width:100%;
  height:100%;
}

.why-become {
  padding-top:60px;
}

.why-become h4, .why-become p {
  color:#0A0A0A;
  text-align:left !important;
}

.why-become .product-card  {
  padding-bottom:20px;
}

.why-become .product-card-inner {
  padding:15px 20px 15px 20px;
}

.why-become h4 {
  max-width:280px;
}

.product-card-large h3 {
  max-width:300px;
}

.product-card-large p {
  max-width:400px;
}

.full-width-c2a {
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  padding:80px 20px 80px 20px;
  color:#fff;
}

.row.contact {
  padding-top:60px;
  padding-bottom:60px;
}

.row.contact textarea, .row.contact input {
  border: 1px solid #707070 !important;
  border-radius:3px;
}

.row.contact textarea {
  min-height:220px;
}

.header-icon {
  max-width: 24px;
  margin-top: -5px;
  margin-left:10px;
}

.header-icon:hover {
  cursor:hand;
  cursor:pointer;
}

.partner-form input:disabled {
  background:transparent;
  border:0;
  padding-left:0;
  color:#0a0a0a;
}

.partner-form label {
  font-size:1.2rem;
}

.change-profile {
  color: #FF5722;
  font-weight: bold;
  font-size: 14px !important;
}

.avatar-profile {
  width: 142px;
    margin-bottom: 10px;
}

.avatar-article {
  max-width:70px;
}

.tabs-profile a {
  opacity:0.6;
  display:block;
  padding:10px 0;
  color:#0A0A0A;
  border-bottom:1px solid #ccd1d3;
}

.tabs-profile a:hover {
  opacity:1;
}

.article img {
  margin:30px 0;
}

.article-c2a {
  padding:40px 30px;
  border:1px solid #ccd1d3;
}

.link-citation {
  color:#000;
  text-decoration:underline;
}

.row-related .inner {
  padding:30px;
}

.row-related img {
  width:100%;
}

@media screen and (min-width: 40em) {
  #inspiration-filter {
    margin-top:60px;
  }
}

.influencer-meta p {
  margin:0;
}

.influencer-meta {
  padding:10px;
}


.row-inspo .avatar-profile {
  max-width:50px;
}

.row-inspo .col-inspo, .row-toolkit, .col-toolkit {
  margin-bottom:30px;
}

.row-inspo .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-inspo .inner .button {
  margin-bottom:0;
}

.row-inspo .type-article .inner {
  height:100%;
}

.col-inspo video {
  width:100%;
}

.type-article .inner {
  padding:30px;
}

.video-container {
  width: 100%; /* Take up full width of parent container */
  max-width: 600px; /* Optional: Set a max width for the container */
  aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
  overflow: hidden; /* Crop the video content */
  position: relative; /* Ensure proper positioning for children */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the square and crops overflow */
}

.pagination .current {
        border-radius: 50%;
    background: #ff5722;
}

.pagination a {
      border-radius: 50%;
}

.pagination-next a:after, .pagination-next.disabled:after {
  display:none;
}

.pagination-previous a:before, .pagination-previous.disabled:before {
  display:none;
}

.pagination-next a:hover, .pagination-previous a:hover {
  background:transparent !important;
}

.row-toolkit .inner {
  padding:30px;
}

.row-toolkit p {
  color:#37474F;
  font-size:14px;
  opacity:0.8;
  margin: 5px 0 0 0;
}

.row-toolkit .icon {
    max-width: 30px;
}

.row-toolkit .button {
  margin-top:5px;
  margin-bottom:0 !important;
}



.dashboard-card-stat {
  padding:55px 20px 38px 20px !important
}

.row-insight-posts .post-entries li {
  border-bottom: 1px solid #eaeaea;
  padding:10px 0;
}

.post-entries li:last-child {
  border-bottom: none;
}
.row-insight-posts .post-entries p {
  margin-bottom:0;
  color:#37474F;
  opacity:0.8;
  font-size:14px;
}

.row-insight-posts .post-entries h5 a {
  max-width:300px;
  display: inline-block;
  color:#000;
}

.row-insight-posts .post-entries h5 a:hover {
  color:#ff5722;
}

.row-links a {
  color:#000;
  text-decoration:underline;
}

.row-links a:hover {
  color:#ff5722;
}

/*footer*/

.ah-footer {
  padding-top:80px;
  padding-bottom:20px;
}

.ah-footer a:hover {
  color:#ff5722;
}

.ah-footer .col-nav {
  font-weight:400;
}

@media screen and (max-width: 39.9375em) {
  .ah-footer .col-nav {
    padding-top:40px;
    padding-bottom:40px;
  }
}

.col-awards {
  text-align:right;
}

.col-awards img {
  max-height:75px;
  margin-right:20px;
}

.col-socials {
  padding-top:60px;
  padding-bottom:60px;
}

.col-socials img {
  opacity:0.8;
  max-height:24px;
  margin-right:30px;
}

.col-socials img:hover {
  opacity:1;
}

.col-legals {
  text-align:right;
}

.col-legals a {
  display:inline-block;
  margin-right:10px;
    color:#37474F;
}
